.App-title {
padding-right: 70%;
}

.nav-list-item {
    font-size:x-large;
    font-weight: 400;
    box-sizing: border-box;
    align-content: center;
}
#app-bar {
    background-color: black;
}
.login-form {
    text-align: center;
}
.handgun-image {
    max-width: 728px;
    margin:-20px -20px 10px
}

.breakdown-cards {
    max-width: 80%;
    margin-left: 4%;
    height: 100%;
  }

.bd-headline {
    font-size: x-large;
    color: whitesmoke
}
